.cart-container{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.454);
    color: #fff;
    padding: 1rem;
    width: 350px;
    margin: 0 auto;
    text-align: start;
    height: 700px;
}

.money{
    color: rgb(40, 212, 192);
}


.crew{
    text-decoration: underline;
}





@media screen and (max-width: 425px){
    .cart-container{
        height: 100%;
    }
    .cart{
        margin-top: 1rem;
    }
}