.cart-container{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.454);
    color: #fff;
    padding: 1rem;
    width: 350px;
    margin: 0 auto;
    text-align: start;
    height: 700px;
}
.cart-img{
    width: 50px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.money{
    color: rgb(40, 212, 192);
}
.cart{
    display: flex;
    gap: 10px;
    /* margin-top: 1rem; */
}

.crew{
    text-decoration: underline;
}

@media screen and (max-width: 425px){
    .cart-container{
        height: 100%;
    }
    .cart{
        margin-top: 1rem;
    }
}