.container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 4rem;
}

.title-container{
    color: #ffffffb7;
    text-align: center;
}
.span{
    color: rgb(172, 26, 26);
    text-transform: uppercase;
}
.span-r {
    color: #fff;
}

@media screen and (max-width: 425px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 1rem;
    }
    .cart{
        width: 100%;
    }
    .cards-container{
        width: 100%;
        margin-top: 1rem;
    }
}